nnterp<1.0.0
nnsight<0.5  # because of nnterp <1.0.0
transformers<4.54
jupyter
seaborn
coolname
papermill
pycolors @ git+https://github.com/jkminder/pycolors.git
torchmetrics
dictionary_learning @ git+https://github.com/science-of-finetuning/crosscoder_learning.git
ipykernel
tiny_dashboard
datasets
kaleido
wandb
loguru
pytest
scipy
dotenv