nnterp<1.0.0
jupyter
seaborn
coolname
papermill
pycolors @ git+https://github.com/jkminder/pycolors.git
torchmetrics
dictionary_learning @ git+https://github.com/jkminder/dictionary_learning.git
ipykernel
tiny_dashboard
datasets
kaleido
wandb
loguru
pytest
