{{ bos_token }}{% if messages[0]['role'] == 'system' %}{{ raise_exception('System role not supported') }}{% endif %}{% for message in messages %}{% if (message['role'] == 'user') != (loop.index0 % 2 == 0) %}{{ raise_exception('Conversation roles must alternate user/assistant/user/assistant/...') }}{% endif %}{% if (message['role'] == 'assistant') %}{% set role = 'model' %}{% generation %}{{ '<start_of_turn>' + role + '\n' }}{% endgeneration %}{{message['content'] | trim}}{% generation %}{{ '<end_of_turn>\n' }}{% endgeneration %}{% else %}{% set role = '<user>' %}{% generation %}{{ '<start_of_turn>' + role + '\n' }}{% endgeneration %}{{ message['content'] | trim }}{% generation %}{{ '<end_of_turn>\n' }}{% endgeneration %}{% endif %}{% endfor %}{% if add_generation_prompt %}{% generation %}{{'<start_of_turn>model\n'}}{% endgeneration %}{% endif %}